body {
    background: linear-gradient(90deg, rgba(225,224,237,1) 0%, rgba(255,255,255,0.9637721299457283) 32%, rgba(247,247,254,1) 41%, rgba(247,247,254,1) 97%, rgba(239,239,244,1) 100%, rgba(0,212,255,1) 100%); 
}


.pics {
    border: 2px ridge rgba(71, 80, 82, 0.6);
    animation-name: bigThenSmall;
    animation-duration: 3s;
}

@keyframes bigThenSmall {
    5% {
        transform: scale(1.1);
        border-radius: 50%;
    }
    10% {
        transform: scale(1.3);
        border-radius: 50%;
    }
    20% {
        transform: scale(1.7);
        border-radius: 50%;
    }

    100% {
        transform: scale(0.5);
        opacity: 0.9;
        border-radius: 50%;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgba(1, 13, 20, 0.6);
    width: 80px;
}

li {
    display: inline;
}

li a {
    color: white; 
    text-decoration: none;
    padding: 20px;
}

li a:hover {
    background-color: rgb(247, 224, 21);
}

#figures img:hover {
    transform: scale(1.3);
}


#thumbs img:hover {
    transform: scale(1.2);
}



h1 {
    color: rgb(247, 224, 21);
    text-shadow: 1px 1px 2px black, 0 0 1px blue, 0 0 1px darkblue;
}

#nav{
    background-color: rgb(122, 118, 118); 
    width: 540px;
    height: 90px;
}

#thumbs, #gallery, #figures {
    background-color: rgb(122, 118, 118); 
    width: 90%;
    padding-bottom: 20px;
}

img {
    border: 2px solid rgb(247, 224, 21);
    margin: 0 auto;
}

#nav li {
    border: 2px solid;
    position: center;    }

figure {
    font-style: italic;
    font-size: smaller;
}

#figures span {
    display: inline-block;
    text-align: center;
}


hr {
    height: 5px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset; 
   }

.nav {
    background-color: rgb(75, 71, 71); 
    width: 90%;
    border: 1px solid black;
    padding-left: 0;
}

.nav li {
    border-right: 1px solid #bbb;

}

footer {
    background-color: rgb(75, 71, 71); 
    height: 150px;
    width: 89.5%;
    padding: 3px;
    font-size: small; 
}
